.hero-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.74);
        z-index: -1;
    }
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 80px 0 0 0;

    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    .line-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 150px;
        height: 100%;
        border-right: $third-color 2px solid;

        @media (max-width: 768px) {
            display: none;
        }

        .line-left-top {
            width: 100%;
            height: 55%;
        }

        .line-left-bottom {
            width: 100%;
            height: 45%;
            border-top: $third-color 2px solid;
        }

    }

    .line-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 150px;
        height: 100%;
        border-left: $third-color 2px solid;

        @media (max-width: 768px) {
            display: none;
        }

        .line-right-top {
            width: 100%;
            height: 55%;
        }

        .line-right-bottom {
            width: 100%;
            height: 45%;
            border-top: $third-color 2px solid;
        }

    }

    .container-hero {
        display: flex;
        width: 80%;
        height: 100vh;


        @media (max-width: 768px) {
            flex-direction: column;
        }


        .content-hero {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            @media (max-width: 768px) {
                height: auto;
            }


            .content-text {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 5rem 3rem 2rem;
                width: 100%;
                height: 55%;

                @media (max-width: 768px) {
                    min-height: 50%;
                    justify-content: center;
                    padding: 7.5rem 1rem 4rem;
                    border-left: $third-color 2px solid;
                    border-right: $third-color 2px solid;

                    span {
                        position: relative;
                        width: 100vw;
                        margin-left: calc(-50vw + 50%);
                        margin-right: calc(-50vw + 50%);
                        border: $third-color 1px solid;
                        top: 20px;
                    }
                }


                .content-logo {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    height: 50%;

                    @media (max-width: 768px) {
                        padding: 50px 0;
                    }


                    img {
                        width: 250px;

                        @media (max-width: 768px) {
                            width: 180px;
                        }

                    }
                }

                h1 {
                    font-size: 3rem;
                    font-weight: 400;
                    color: $fourth-color;

                    @media (max-width: 768px) {
                        font-size: 1.8rem;
                    }


                    strong {
                        font-weight: 400;
                        color: $primary-color;
                    }
                }
            }

            .content-cta {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                height: 45%;
                padding: 2rem 3rem 6rem;
                border-top: $third-color 2px solid;

                @media (max-width: 768px) {
                    padding: 0 1rem 20px;
                    justify-content: center;
                    border-left: $third-color 2px solid;
                    border-right: $third-color 2px solid;
                    border-top: none;

                    span {
                        position: relative;
                        width: 100vw;
                        top: 20px;
                        margin-left: calc(-50vw + 50%);
                        margin-right: calc(-50vw + 50%);
                        border: $third-color 1px solid;
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 63%;
                    height: 100%;
                    font-size: 0.88rem;
                    color: $fourth-color;

                    @media (max-width: 768px) {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 0 0 15px 0;
                        font-size: 0.75rem;
                    }

                }

                a {
                    width: 63%;
                    height: 100%;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $fourth-color;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 0;

                    img {
                        width: 11px;
                        height: 11px;
                        filter: invert(56%) sepia(13%) saturate(1836%) hue-rotate(334deg) brightness(92%) contrast(84%);

                        @media (max-width: 768px) {
                            filter: none;
                        }

                    }

                    @media (max-width: 768px) {
                        height: 40%;
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }

    .content-hero-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 28%;
        height: 100%;

        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
            flex-direction: row;
        }


        .content-box {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            height: 55%;
            padding: 3.5rem 3rem 2rem;
            border-left: $third-color 2px solid;

            @media (max-width: 768px) {
                height: 100%;
                border-top: none;
            }

        }

        .content-box-bottom {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            height: 45%;
            gap: 1rem;
            padding: 1rem 1rem 6rem;
            border-left: $third-color 2px solid;
            border-top: $third-color 2px solid;
            background-color: $secondary-color;

            @media (max-width: 768px) {
                height: 100%;
                gap: 40px;
                border-left: none;
                border-right: $third-color 2px solid;
                border-top: none;
            }


            .content-box-text {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 30%;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    text-decoration: none;
                    transition: opacity 0.3s ease;

                    &:hover {
                        opacity: 0.8;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        color: $fourth-color;
                        font-size: 0.65rem;
                        cursor: pointer;

                        @media (max-width: 330px) and (max-height: 650px) {
                            font-size: 0.6rem;
                        }
                    }

                    img {
                        width: 13px;
                        height: 13px;
                        filter: invert(56%) sepia(13%) saturate(1836%) hue-rotate(334deg) brightness(92%) contrast(84%);

                        @media (max-width: 330px) and (max-height: 650px) {
                            width: 11px;
                            height: 11px;
                        }
                    }
                }
            }

            h2 {
                color: $fourth-color;
                font-size: 4rem;
                font-weight: 400;

                @media (max-width: 768px) {
                    font-size: 2.2rem;
                }

            }
        }
    }
}